[submodule "3-Writing-tests-The-Basics"]
	path = 3-Writing-tests-The-Basics
	url = git@github.com:c4arl0s/3-Writing-tests-The-Basics.git
[submodule "2-Setting-Up-Our-Infrastructure"]
	path = 2-Setting-Up-Our-Infrastructure
	url = git@github.com:c4arl0s/2-Setting-Up-Our-Infrastructure.git
[submodule "7-User-Interface-Tests"]
	path = 7-User-Interface-Tests
	url = git@github.com:c4arl0s/7-User-Interface-Tests.git
[submodule "7-Integration-Tests"]
	path = 7-Integration-Tests
	url = git@github.com:c4arl0s/7-Integration-Tests.git
[submodule "6-Write-Testable-Code"]
	path = 6-Write-Testable-Code
	url = git@github.com:c4arl0s/6-Write-Testable-Code.git
[submodule "10-Implement-Tests-in-Our-Daily-Work-Routine"]
	path = 10-Implement-Tests-in-Our-Daily-Work-Routine
	url = git@github.com:c4arl0s/10-Implement-Tests-in-Our-Daily-Work-Routine.git
