[submodule "Pro-iOS-Testing"]
	path = Pro-iOS-Testing
	url = git@github.com:c4arl0s/Pro-iOS-Testing.git
[submodule "3-Writing-tests-The-Basics"]
	path = 3-Writing-tests-The-Basics
	url = git@github.com:c4arl0s/3-Writing-tests-The-Basics.git
[submodule "2-Setting-Up-Our-Infrastructure"]
	path = 2-Setting-Up-Our-Infrastructure
	url = git@github.com:c4arl0s/2-Setting-Up-Our-Infrastructure.git
[submodule "7-User-Interface-Tests"]
	path = 7-User-Interface-Tests
	url = git@github.com:c4arl0s/7-User-Interface-Tests.git
[submodule "7-Integration-Tests"]
	path = 7-Integration-Tests
	url = git@github.com:c4arl0s/7-Integration-Tests.git
